{% extends "contact/admin/_settings.html.twig" %}
{% block body %}
    <div class="{% block classContact %}col-12{% endblock %}">
        <div class="card card-primary shadow">
            {% block content %}
            {% endblock %}
        </div>
    </div>
{% endblock %} 