{% extends "contact/admin/_settings.html.twig" %}
{% block body %}
    <div class="{% block classContact %}col{% endblock %}">
        {% block content %}
        {% endblock %}
    </div>
{% endblock %} 